.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.noDataFound {
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;  
  color: #959595;
  text-align: center;  
  transform: scale(.8, 1);
}

.backString {
  margin-top: -35px;
  font-size: 17px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.content {
  width: 80%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.mainInfo {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  margin-top: 3px;
  font-weight: bold;
}

.secondInfo {
  display: flex;
  margin-top: 0px;
  justify-content: space-around;
  margin-bottom: 3px;
  font-weight: normal;
}

.reviewsInfo {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-top: 6px;
  margin-right: 10px;
}

.cadastrar {
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;  
  color: #f5f5f5;
  text-align: center; 
  transform: scale(1, 1);
  font-weight: lighter;
  background-color: #404E82;
  padding: 6px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.cadastrar:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.averages {
  min-width: 27%;
  display: flex;
  justify-content: space-around;
}

.values { 
  display: flex;
  text-align: right;
}

.values p {
  min-width: 25%;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: bold;
  color: #09083a;
  background-color: #d1d0d0;
  border-radius: 10px;
  font-size: 30px;
  padding: 12px;
  padding-left: 35px;
  padding-right: 35px;;
  margin: 5px;
}

.goodAvg {
  background-color: #40c74f !important;
}

.neutralAvg {
  background-color: #d4912c !important;
}

.chaoticAvg {
  background-color: #ff3333 !important;
}

@media(max-width: 1270px){
  .content {
    flex-direction: column;
  }

  .mainInfo {
    width: 100%;
  }

  .secondInfo {
    justify-content: center;
  }

  .reviewsInfo {
    margin-right: 30px;
  }

  .averages {
    margin-top: 5px;
  }
}

@media(max-width:1100px){
  .main {
    margin-top: 10%;
  }
}

@media(max-width:768px){
  .mainInfo {
    margin-top: -35px;
    font-size: 25px;
  }
}

@media(max-width: 412px){
  .main {
    padding-top: 15%;
  }

  .secondInfo {
    width: 100%;
    flex-direction: column;
  }

  .reviewsInfo {
    margin-right: 0px;
  }

  .cadastrar {
    font-size: 15px;
    margin-top: 5px;
  }
}

@media(max-width: 325px){
  .mainInfo {
    font-size: 20px;
  }

  .reviewsInfo {
    font-size: 15px;
  }

  .values p {
    min-width: 25%;
    font-size: 25px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;;
    margin: 3px;
  }
}

