@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.title {
  margin: 0;
  font-size: 140px;
  font-family: 'Six Caps', sans-serif;
  font-weight: lighter;
  color: #404E82;
  transform: scale(1, .8);
}

.subtitle {
  margin-top: -70px;
  font-size: 60px;
  font-family: 'Black Han Sans', sans-serif;
  font-weight: bolder;  
  color: rgb(255, 255, 255);
  -webkit-text-stroke: #404e8258 1px;
  text-align: center;  
  transform: scale(.8, 1);
}

.title,
.subtitle {
  text-align: center;
}

.cadastrar {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;  
  color: #404E82;
  text-align: center;  
  transform: scale(.8, 1);
  font-weight: 600;
  
}

.cadastrar:hover {
  color: #404E82;
  cursor: pointer;
}

.startString {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;  
  color: #959595;
  text-align: center;  
  transform: scale(.8, 1);
  font-weight: 100;
  font-style: italic;
  
}

.resultBox {
  width: 45%;
}

.paginate {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.professorBox {
  cursor: pointer;
  margin-top: 30px;
  padding: 10px;
}

.mainInfo {
  display: flex;
  justify-content: space-between
}

.name { 
  font-size: 20px;
}

.values { 
  display: flex;
  text-align: right;
}

.values p {
  text-align: center;
  margin: 3px;
  color: #09083a;
  background-color: #b5b5b5;
  width: 40px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  padding: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.goodAvg {
  background-color: #40c74f !important;
}

.neutralAvg {
  background-color: #d4912c !important;
}

.chaoticAvg {
  background-color: #ff3333 !important;
}

.reviewInfo {
  margin-top: -30px;
  font-style: italic;
  font-size: 13px;
}

.modalTitle {
  width: 100%;
  margin-top: -5px;
  margin-right: 300px;
  font-size: 6px;
  font-family: 'Roboto', sans-serif;
  text-align: left;  
  font-weight: lighter;
  font-style: italic;
}

.modalBody {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
}

.inputSend {
  display:flex;
  width: 100%;
}

.textFieldArea {
  width: 90%;
}

.sendButton {
  width: 10%;
}

.btn {
  background-color: #404E82;
  color: white;
  border: none;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  cursor: pointer;
  width: 40px;
}

.response {
  text-align: center;
  margin-top: 30px;
  margin-bottom: -20px;
}

.alert {
  margin-top: -20px;
  margin-bottom: 10px;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.extensionImg {
  cursor: pointer;
  margin-top: 0px;
  width: 297px;
  height: 90px;
}

@media(max-width: 1300px) {
  .resultBox {
    width: 60%;
  }
}

@media(max-width: 1110px) {
  .resultBox {
    width: 70%;
  }
}

@media(max-width: 990px) {
  .resultBox {
    width: 80%;
  }
}

@media(max-width: 860px) {
  .resultBox {
    width: 95%;
  }
}

@media(max-width: 860px) {
  .professorBox {
    padding: 0px;
  }

  .name { 
    font-size: 15px;
  }

  .values p {
    margin: 2px;
    width: 35px;
    border-radius: 3px;
    font-size: 13px;
    padding: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .reviewInfo {
    margin-top: -37px;
    font-size: 12px;
  }
}

@media(max-width: 590px) {
  .resultBox {
    width: 100%;
  }

  .name { 
    font-size: 13px;
    max-width: 60%;
    margin-right: 5px;
  }

  .values p {
    margin: 2px;
    width: 35px;
  }
}


@media(max-width: 525px) {
  .reviewInfo {
    margin-top: -17px;
  }
}

@media(max-width: 300px) {
  .name { 
    font-size: 10px;
    max-width: 60%;
    margin-right: 5px;
  }

  .values p {
    margin: 1px;
    width: 30px;
    font-size: 10px;
  }

  .reviewInfo {
    margin-top: -5px;
    font-size: 9px;
  }
}

