@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cadastrar {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;  
  color: #404E82;
  text-align: center;  
  transform: scale(.8, 1);
  font-weight: 600;
  
}

.cadastrar:hover {
  color: #404E82;
  cursor: pointer;
}